@model ResetPasswordViewModel
<section class="login-tabs padding-large">
    <div class="container my-5 py-5">
        <div class="row">
            <div class="tabs-listing">
                <nav>
                    <div class="nav nav-tabs d-flex justify-content-center border-dark-subtle mb-3" id="nav-tab"
                         role="tablist">
                        <button class="nav-link mx-3 fs-3 border-bottom border-dark-subtle border-0 text-uppercase active"
                                id="nav-sign-in-tab" data-bs-toggle="tab" data-bs-target="#nav-sign-in" type="button"
                                role="tab" aria-controls="nav-sign-in" aria-selected="true">
                            Reset password
                        </button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade active show" id="nav-sign-in" role="tabpanel"
                         aria-labelledby="nav-sign-in-tab">
                        <div class="col-lg-8 offset-lg-2 mt-5">

                            <p class="mb-0">Reset password</p>
                            <hr class="my-1">

                            <form method="post" class="form-group flex-wrap ">
                                <div class="form-input col-lg-12 my-4">
                                    <input asp-for="Password" placeholder="Enter password"
                                           class="form-control mb-3 p-4" aria-describedby="passwordHelpBlock">
                                    <span asp-validation-for="Password"></span>
                                    <input asp-for="ConfirmPassword" placeholder="Enter confirm password"
                                           class="form-control mb-3 p-4" aria-describedby="passwordHelpBlock">
                               
                                         
                                    <div class="d-grid my-3">
                                        <button type="submit" class="btn btn-dark btn-lg rounded-1">Confirm</button>
                                    </div>
                                    <div asp-validation-summary="ModelOnly"></div>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>